<%= semantic_form_for [:admin,@form] do |f| %>
  <div class="field">
    <%= f.label :form_name %><br />
    <%= f.text_field :form_name %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>